
  <form class="uk-form" (ngSubmit)="onSubmit(f)" #f="ngForm">

      <legend class="uk-legend">Balance ton post ici bruh</legend>

      <div class="uk-margin">
        <input class="uk-input" name="title" type="text" placeholder="Titre" ngModel required>
      </div>

      <div class="uk-margin">
        <textarea class="uk-textarea" name="content" rows="5" placeholder="Contenu" ngModel required></textarea>
      </div>

      <button class="uk-button uk-button-secondary" type="submit" [disabled]="f.invalid">Ajouter</button>

  </form>

