<h2>Login</h2>
<button class="uk-button uk-button-secondary" *ngIf="!authStatus" (click)="onSignIn()">Se connecter</button>
<button class="uk-button uk-button-secondary" *ngIf="authStatus" (click)="onSignOut()">Se déconnecter</button>
