@import '../../node_modules/uikit/src/scss/variables-theme.scss';
@import '../../node_modules/uikit/src/scss/mixins-theme.scss';
@import '../../node_modules/uikit/src/scss/uikit-theme.scss';

.menu {
  margin:auto;
  button {
    margin-right:20px;
    font-family: 'Julius Sans One', sans-serif;
  }
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
}

.contain {
  width: 70%;
  margin: auto;
}
